body, html, .full-page {
    height: 100%;
    font-family: 'Gelasio', serif;;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}



.social-icons a {
    color: rgb(14, 143, 207);
    margin-left: 14px!important;
}

.social-icons i:hover {
    color: black;
}

.menu {
    padding: 0px 0px 0px 21px;
    margin-bottom: 0px;
}

.menu a:not([href]){
    color: rgba(0, 0, 0, .75);
    cursor: pointer;
}

.menu a:not([href]):hover {
    color: rgba(200, 200, 200, .5);
}

i {
    padding: 0px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;
  background-color:#dbdbdb;
  height: 1px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.white-smoke-background {
    background-color: white;
}

.black-text-75 {
    color: rgba(0, 0, 0, .75);
}

.black-text-50 {
    color: rgba(0, 0, 0, .50);
}

.icon-size {
    height: 25px;
    width: 25px;
}

.animated.delay-half-second {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

.h-20 {
    height: 20%;
}

.h-80 {
    height: 80%;
}

.fab {
    font-size: 22px;
    color: rgb(14, 143, 207);
    font-family: 'font awesome 5 brands';
}

.horizontal-list li {
    display: inline;
    margin-left: 14px!important;
    margin-right: 0px!important;
}

.one-and-half-second-delay {
    animation-delay: 1.5s;
}

.section-header-row{
    padding-left: 21px!important;
    padding-right: 0px!important;
}

.up-arrow-row{
    padding-left: 48px!important;
    padding-right: 0px!important;
}

.aux-sections {
    padding: 36px 24px;
    margin-bottom: 16px;
}

.raised_border {
    border-radius: 6px;
    box-shadow: 10px 30px 40px rgba(0,0,0,.6);
}

.markdown p {
    margin-bottom: 1em;
}